* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

.navbar {
    background-color: #0B1315;
    border-bottom: 1px solid #C9AB81;
    box-shadow: 0 3px 7px #000;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.navbar-collapse {
    padding: 10px 10px 0 10px;
}

.navbar-brand {
    padding-left: 0.3em;
    font-size: 2em;
    color: #C9AB81;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 1px 1px 1px #000;
}
.navbar-brand:hover {
    cursor: auto;
    color: #C9AB81;
}

.customLink {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    position: relative;
    transition: color 0.3s ease;
}

.customLink:hover {
    color: #fff;
}

.customLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #C9AB81;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.customLink:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    color: #C9AB81;
}

.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.toggler {
    font-size: 1.4em;
    color: #C9AB81;
}

/* HEADER */

.header {
    margin-top: 75px;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    text-align: center;
}

.headerVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0px;
    filter: brightness(0.2);
}

.headerSubtitle, .headerTitle, .headerText, .headerButton {
    position: relative;
}

.headerSubtitle {
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color: #C9AB81;
    text-shadow: 1px 1px 1px #000;
}

.headerTitle {
    font-size: 3em;
    font-family: 'Cinzel Decorative', cursive;
    color: #C9AB81;
    text-shadow: 1px 1px 1px #000;
}

.headerText {
    max-width: 30em;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.headerButton {
    padding: 10px 20px;
    letter-spacing: 5px;
    border: 1px solid #C9AB81;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
}
.headerButton:hover {
    background-color: #000;
    transition: 0.3s;
}

/* ABOUT */

.about {
    margin-top: 75px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #0B1315;
}

.aboutTexts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.aboutTextsSubtitle {
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color: #C9AB81;
}

.aboutTextsTitle {
    font-size: 3em;
    font-family: 'Cinzel Decorative', cursive;
    color: #C9AB81;
}

.aboutTextsText {
    max-width: 30em;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.aboutImages {
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    gap: 30px;
}

.aboutImagesImage img {
    height: 100%;
    width: 100%;
}

.aboutImagesImageFood {
    object-fit: cover;
    box-shadow: 3px 3px 5px black;
}

.aboutImagesImageLogo {
    object-fit: contain;
}

@media(max-width: 1400px) {
    .aboutImages {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px;
    }
}

@media(max-width: 700px) {
    .about {
        padding: 50px 20px;
    }
}

/* SPECIALITIES */

.specialities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #C9AB81;
    border-bottom: 1px solid #C9AB81;
}

.specialitiesTexts {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    background-color: #0F1D22;
}

.specialitiesTextsSubtitle {
    font-size: 1.6em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.specialitiesTextsTitle {
    font-size: 2.6em;
    font-family: 'Raleway', sans-serif;
    color: #C9AB81;
}

.specialitiesTextsText {
    max-width: 700px;
    font-size: 1.3em;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    color: #AFB8B8;
}

.specialitiesTextsButton {
    padding: 10px 20px;
    letter-spacing: 5px;
    border: 1px solid #C9AB81;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
}
.specialitiesTextsButton:hover {
    background-color: #000;
    transition: 0.3s;
}

.specialitiesImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media(max-width: 991px) {
    .specialities {
        grid-template-columns: 1fr;
    }
    .specialitiesTexts {
        padding: 50px 20px;
    }
}

/* MENU */

.firstMenuImage {
    margin-top: 75px;
    height: 500px;
    background-image: url("../images/menuStarters.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.firstMenuImage::before {
    position: absolute;
    content: "";
    inset: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.firstMenuImageText {
    position: relative;
    font-size: 3em;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    color: #C9AB81;
    text-shadow: 1px 1px 1px #000;
}

.menu {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #0F1D22;
    border-top: 1px solid #C9AB81;
    border-bottom: 1px solid #C9AB81;
}

.menuTitle {
    font-size: 1.6em;
    font-family: 'Raleway', sans-serif;
    color: #C9AB81;
    letter-spacing: 5px;
}

.menuCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.menuCardsCard {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.menuCardsCardText {
    width: 100%;
}
  
.menuCardsCardTextName {
    display: flex;
    align-items: center;
}
  
.menuCardsCardTextName div {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    color: #C9AB81;
}

.menuCardsCardTextName hr {
    flex-grow: 1;
    border: 1px solid #C9AB81;
    margin: 0 10px;
}
  
.menuCardsCardTextIngredients {
    margin: 0;
    font-size: 1.2em;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    color: #fff;
}

.menuCardsCardPrice {
    align-self: flex-start;
    font-size: 1.6em;
    font-family: 'Cinzel Decorative', cursive;
    color: #C9AB81;
}

@media(max-width: 991px) {
    .menu {
        padding: 50px 20px;
    }
    .menuCards {
        grid-template-columns: 1fr;
    }
}

.menuBanner1, .menuBanner2, .menuBanner3 {
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.3);
}

.menuBanner1 {
    background-image: url("https://images8.alphacoders.com/127/1278428.jpg");
}
.menuBanner2 {
    background-image: url("../images/menuCake.jpg");
}
.menuBanner3 {
    background-image: url("../images/menuCocktail.jpg");
}

/* TEAM */

.teamTitle {
    margin-top: 75px;
    padding: 50px 20px 0;
    display: flex;
    justify-content: center;
    background-color: #0F1D22;
    color: #C9AB81;
    font-size: 3em;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}

.team {
    height: calc(100vh - 197px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F1D22;
}

.carousel {
    height: 80%;
    width: 40%;
    box-shadow: 2px 2px 5px #000;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.d-block {
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.carouselName {
    font-size: 1.6em;
    font-family: 'Raleway', sans-serif;
    color: #C9AB81;
    text-shadow: 1px 1px 1px #000;
}

.carouselPosition {
    font-size: 1.2em;
    font-family: 'Dancing Script', cursive;
}

@media(max-width: 991px) {
    .carousel {
        width: 80%;
    }
}

@media(max-width: 602px) {
    .team {
        height: calc(100vh - 269px);
    }
}

/* CONTACT */

.contact {
    margin-top: 75px;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/contactBg.jpg");
    background-size: cover;
    background-position: bottom;
}

.contactShadow {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}

.contactTitles {
    text-align: center;
}

.contactTitlesSubtitle {
    font-size: 1.6em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.contactTitlesTitle {
    font-size: 3em;
    font-family: 'Cinzel Decorative', cursive;
    color: #C9AB81;
    text-shadow: 1px 1px 1px #000;
}

.contactInfo {
    display: flex;
    gap: 50px;
}

.contactInfoForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
}

.contactInfoForm input {
    font-size: 1.2em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #C9AB81;
}

.contactInfoForm textarea {
    font-size: 1.2em;
    color: #fff;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #C9AB81;
    resize: none;
}

.contactInfoForm input:focus, .contactInfoForm textarea:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.contactInfoForm input::placeholder, .contactInfoForm textarea::placeholder {
    font-size: 1.2em;
    color: #fff;
}

.contactInfoData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contactInfoDataTexts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.contactInfoDataSocial {
    display: flex;
    gap: 20px;
    font-size: 3em;
    color: #C9AB81;
}
.contactInfoDataSocial:hover {
    cursor: pointer;
}

@media(max-width: 801px) {
    .contact {
        padding: 0;
    }
    .contactShadow {
        padding: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .contactInfo {
        flex-direction: column;
        gap: 20px;
        border: 1px solid #C9AB81;
        padding: 30px;
    }
    .contactInfoForm {
        width: auto;
        gap: 15px;
    }
    .contactInfoData {
        gap: 20px;
    }
    .contactTitlesSubtitle {
        font-size: 1.2em;
    }
    .contactTitlesTitle {
        font-size: 1.6em;
    }
    .contactInfoForm input, .contactInfoForm textarea{
        font-size: 0.8em;
    }
    .contactInfoDataTexts {
        font-size: 0.8em;
    }
    .contactInfoDataSocial {
        font-size: 1.8em;
    }
}