* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

.navbar {
    background-color: #0B1315;
    border-bottom: 1px solid #C9AB81;
    box-shadow: 0 3px 7px #000;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.navbar-collapse {
    padding: 10px 10px 0 10px;
}

.navbar-brand {
    padding-left: 0.3em;
    font-size: 2em;
    color: #C9AB81;
    font-family: 'Cinzel Decorative', cursive;
}
.navbar-brand:hover {
    cursor: auto;
    color: #C9AB81;
}

.customLink {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    position: relative;
    transition: color 0.3s ease;
}

.customLink:hover {
    color: #fff;
}

.customLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #C9AB81;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.customLink:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    color: #C9AB81;
}

.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.toggler {
    font-size: 1.4em;
    color: #C9AB81;
}

/* HEADER */

.header {
    margin-top: 75px;
    height: calc(100vh - 74px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    text-align: center;
}

.headerVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0px;
    filter: brightness(0.2);
}

.headerSubtitle, .headerTitle, .headerText, .headerButton {
    position: relative;
}

.headerSubtitle {
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color: #C9AB81;
}

.headerTitle {
    font-size: 3em;
    font-family: 'Cinzel Decorative', cursive;
    color: #C9AB81;
}

.headerText {
    max-width: 30em;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.headerButton {
    padding: 10px 20px;
    letter-spacing: 5px;
    border: 1px solid #C9AB81;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
}
.headerButton:hover {
    background-color: #000;
    transition: 0.3s;
}

/* ABOUT */

.about {
    margin-top: 75px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #0B1315;
}

.aboutTexts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.aboutTextsSubtitle {
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color: #C9AB81;
}

.aboutTextsTitle {
    font-size: 3em;
    font-family: 'Cinzel Decorative', cursive;
    color: #C9AB81;
}

.aboutTextsText {
    max-width: 30em;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.aboutImages {
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    gap: 30px;
}

.aboutImagesImage img {
    height: 100%;
    width: 100%;
}

.aboutImagesImageFood {
    object-fit: cover;
    box-shadow: 3px 3px 5px black;
}

.aboutImagesImageLogo {
    object-fit: contain;
}

@media(max-width: 1400px) {
    .aboutImages {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px;
    }
}

@media(max-width: 700px) {
    .about {
        padding: 50px 20px;
    }
}

/* SPECIALITIES */

.specialities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    outline: 1px solid #C9AB81;
}

.specialitiesTexts {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    background-color: #0F1D22;
}

.specialitiesTextsSubtitle {
    font-size: 1.6em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.specialitiesTextsTitle {
    font-size: 2.6em;
    font-family: 'Raleway', sans-serif;
    color: #C9AB81;
}

.specialitiesTextsText {
    max-width: 700px;
    font-size: 1.3em;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    color: #AFB8B8;
}

.specialitiesTextsButton {
    padding: 10px 20px;
    letter-spacing: 5px;
    border: 1px solid #C9AB81;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
}
.specialitiesTextsButton:hover {
    background-color: #000;
    transition: 0.3s;
}

.specialitiesImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media(max-width: 991px) {
    .specialities {
        grid-template-columns: 1fr;
    }
    .specialitiesTexts {
        padding: 50px 20px;
    }
}